#header {
  background: #014e56;
  padding: 77px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 80px;
}
.nav-menus-ul {
  display: flex;
  gap: 40px;
}

.nav-menus li a {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 100%;
}
